{% extends "layout.html" %} {% block navbar %}
<li><a href="{{ url_for('home') }}">Home</a></li>
<li><a href="{{ url_for('chart') }}">Chart</a></li>
<li class="active"><a href="{{ url_for('patient_profile') }}">Patient</a></li>
{% endblock %} {% block content %}
<h1>Patient Profile</h1>
<p class="lead">
  This is the Patient page.<br />
  Use this as a placeholder.
</p>
<div class="container">
  <p>**PATIENT INFO**</p>
  <a
    class="btn btn-primary"
    href="{{ url_for('select_patient') }}"
    role="button"
  >
    Select New Patient
  </a>
  <a
    class="btn btn-success"
    href="{{ url_for('register_patient') }}"
    role="button"
  >
    Register New Patient
  </a>
</div>
{% endblock content %}
